<footer class="footer">
  <div class="footer-inner">

    <!-- Contact Info -->
    <div class="footer-col">
      <h4>Contact Info</h4>
      <p>108/A 1st Floor, Mandir Wali Gali<br />
         (Opposite Canara Bank), Munirka Village<br />
         New Delhi 110067</p>
      <p>+91 97178 66620<br />+91 98917 28996</p>
      <p>Sunday – Saturday</p>
    </div>

    <!-- Social Links -->
    <div class="footer-col">
      <h4>Follow Us</h4>
      <ul class="footer-social">
        <li><a href="https://www.facebook.com/SpreadASmileIndia/" target="_blank" rel="noopener">Facebook</a></li>
        <li><a href="https://instagram.com/sangitamehra1" target="_blank" rel="noopener">Instagram</a></li>
        <li><a href="https://www.linkedin.com" target="_blank" rel="noopener">LinkedIn</a></li>
        <li><a href="https://www.youtube.com/watch?v=_XuH6OPxoas" target="_blank" rel="noopener">YouTube</a></li>
      </ul>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© Spread Smile India</p>
  </div>
</footer>
