<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <%- include('../partials/head') %>
</head>
<body>

  <%- include('../partials/navbar') %>

  <main>
    <section class="not-found-section">
      <h1>404</h1>
      <p>Page not found.</p>
      <a href="/">Go back home</a>
    </section>
  </main>

  <%- include('../partials/footer') %>

  <script src="/js/theme.js"></script>
</body>
</html>
